.iconobitart{
    background: black;
    padding-top: 15px;
}

.img_logo{
width: 150px;
height: 210px;
margin: 0 auto;

display: block;
}

.main_header {
     text-align: center;
     width: 100%;
     background-color: black;
     font-size: 26px;
     font-family: 'Lobster', cursive;
    }

#boton_menu{
    display: none;
}

.icono_menu{
    padding-top: 30px;
}

header label{
display: none;
width: 100px;
padding: 10px;
border-right: 1px solid white;

}

header label:hover{

cursor: pointer;
background-color: tomato;

}

.menu ul{
   padding: 0;
   margin: 0;
   list-style: none;
   display: inline-flex;
}

.menu li{
    padding: 20px 25px 0px 25px;
}

.menu li a{
    text-decoration: nome;
    color: white;

}

.menu li a:hover{
    text-decoration: overline;
    color: salmon;
}

.dropdown {
    position: relative;
    display: inline-flex;

}

.dropbtn{
    background-color: black;
    font-size: 26px;
    color: white;
    padding: 16px;
    border: nome;
    cursor: pointer;
    font-family:'Lobster', cursive;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
    margin-top: 65px;

}

.dropdown-content a{
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    background-color: salmon;
}

.dropdown:hover .dropbtn{
    color: salmon;
    text-decoration: overline;
}

@media (mas-width:920px) {
    
    header label{
        display: block;
        height: 69px;
    }

    .menu{
        position: absolute;
        background-color: salmon;
        width: 100%;
        margin-left: -100%;
        transition:all 0.5s ;
        z-index: 100;
    }

    #boton_menu:checked  .menu {

        margin: 0;
    }

    .menu ul{
        display: block;
    }

    .menu li:hover{
        background-color: black;
    }

    .dropbtn{
        background-color: salmon;
        color: white;
    }

    .dropdown-content a {
        color: rgb(red, green, blue);
    }

    .dropdown-content a:hover{

        color: salmon;
        background-color: black;
    }

    .dropdown:hover .dropbtn {
        color: salmon;
        background-color: black;
    }

}